.horizontal-line {
	  color: black;
	  background-color: black;
	  height: 2px;
	  border: none;
	  width: 675%;
	}

	
.breadcrumb-item a {
	color: red;
	text-decoration: none;
	margin-left: 15px;
	margin-right: 5px; 
}

.breadcrumb-item.active {
	color: black; 
	margin-left: 5px;
}

.breadcrumb svg {
	margin-top: 5px;
}

.list-group-item svg {
	margin-right: 5px;
}

